<!--The content below is only a placeholder and can be replaced.-->

<div class="badge badge-danger col-12">
  <h1 class="text-center">
    Welcome {{ title }}!
    <br>
    {{title}} Your id is {{id}}
  </h1>
  
  <input type="text" class="form-control" (keyup)="0" [(ngModel)]="name"/>
</div>
<div class="container">
  <div class="row">
    <div class="col-5">
      <p class="">{{ name }}!</p>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
  <div class="col-5">
    <app-servers></app-servers>
  </div>
</div>
</div>



